:root {
	--hero-font-family: "Nanum Pen Script", sans-serif;
	--section-font-family: "DM Sans", sans-serif;
	--gradient-start: rgb(245, 98, 224);
	--gradient-end: rgb(45, 108, 255);
	--light-color: rgba(245, 245, 245, 0.9);
	--dark-color: rgba(66, 66, 66);
	--text-color: rgba(97, 97, 97);
	--box-shadow: 1px 1px 1px rgba(66, 66, 66, 0.2);
	--box-shadow-light: 1px 1px 1px rgba(66, 66, 66, 0.07);
	--box-shadow-hover: 0px 0px 15px rgba(66, 66, 66, 0.2);
}

/* elements */

h1 {
    text-align: left;
    color: var(--light-color);
    font-family: var(--hero-font-family);
    font-size: 120px;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 0.8;
}

h2,
h3,
h4,
h5,
p {
	text-align: center;
	color: var(--dark-color);
	font-family: var(--section-font-family);
	line-height: 1.5;
}

h2 {
	font-size: 55px;
	font-weight: 600;
	letter-spacing: 1px;
	text-shadow: var(--box-shadow);
}

h3 {
	font-size: 25px;
	font-weight: 400;
	letter-spacing: -0.5px;
	text-shadow: var(--box-shadow-light);
}

h4 {
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-shadow: var(--box-shadow);
}

h5 {
	color: var(--text-color);
	font-size: 19px;
	font-weight: 300;
	letter-spacing: 0px;
	text-shadow: var(--box-shadow-light);
}

p {
	color: var(--text-color);
	font-size: 19px;
	font-weight: 300;
}

.btn-branding {
	text-align: center;
	color: var(--light-color);
	font-family: var(--section-font-family);
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 0.5px;
	padding: 15px 25px;
	background: linear-gradient(
		45deg,
		var(--gradient-start) 30%,
		var(--gradient-end) 100%
	);
	border: none;
	border-radius: 30px;
	box-shadow: var(--box-shadow);
	transition: all 180ms ease-in-out;
}

.btn-branding:hover {
	cursor: pointer;
	color: var(--light-color);
	box-shadow: var(--box-shadow-hover);
}

/* body */

body {
	background-color: var(--light-color);
}

.background-image {
	background: linear-gradient(
		45deg,
		var(--gradient-start) 15%,
		var(--gradient-end) 100%
	);
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* navbar */

nav ul {
	margin-top: 30px;
	margin-bottom: 30px;
}

nav a {
	color: var(--light-color);
	font-family: "DM Sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
	line-height: 1.5;
	letter-spacing: 1px;
	text-shadow: var(--box-shadow);
}

nav a:hover {
	color: var(--light-color);
}

nav img {
	max-height: 40px;
}

/* hero */

.hero img {
	max-height: 180px;
}

.hero .div-img {
	margin-right: 15px;
	margin-bottom: 50px;
}

.hero .div-h1 {
	margin-left: 15px;
	margin-bottom: 40px;
}

.hero p {
	text-align: left;
    color: var(--light-color);
    font-family: var(--hero-font-family);
    font-size: 35px;
    font-weight: 500;
    line-height: 0.5;
}

/* break */

button {
	display: block;
	margin: 120px auto;
	padding: 4px 17px;
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		var(--gradient-start) 20%,
		var(--gradient-end) 100%
	);
	opacity: 0.85;
	border: none;
	pointer-events: none;
}

/* projects */

.projects-section .content {
	margin-top: 10px;
	margin-bottom: 60px;
}

.projects-section b {
	font-weight: 600;
	text-shadow: var(--box-shadow-light);
}

.projects-section img {
	display: block;
	margin: 0 auto;
	max-height: 150px;
}

.about-section .profile-image {
	width: 280px;
    height: 280px;
	margin-right: 20px;
	margin-top: 30px;
	opacity: 0.95;
	border-radius: 50%;
}

.about-section h2,
.about-section h3,
.about-section h4,
.about-section p {
	text-align: left;
}

.icon {
	display: block;
	margin: 0 auto;
	height: 50px;
}

/* contact */

.contact-section .link {
	background: -webkit-linear-gradient(
		45deg,
		var(--gradient-start) 15%,
		var(--gradient-end) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
}

/* footer */

footer .social-links a {
	color: var(--gradient-start);
	font-size: 20px;
	text-shadow: var(--box-shadow);
	padding: 10px;
	line-height: 2;
	transition: all 180ms ease-in;
}

footer .social-links a:hover {
	color: var(--gradient-end);
}

footer p {
	color: var(--light-color);
	font-size: 10px;
	line-height: 1;
	font-weight: 400;
}

footer .source a {
	text-decoration: none;
	color: var(--light-color);
}

/* media lg */

@media (max-width: 992px) {

	h1 {
		font-size: 90px;
	}

	h2 {
		font-size: 30px;
	}

	/* about */

	.about-section .profile-image {
		margin: 0 auto;
		width: 250px;
		height: 250px;
	}

	.about-section h2 {
		text-align: center;
		margin-top: 40px !important;
	}

	.about-section h3 {
		text-align: center;
	}

	.about-section p {
		text-align: justify;
	}
}

/* media sm */

@media (max-width: 576px) {
	/* elements */

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 25px;
	}

	h5 {
		font-size: 13px;
	}

	p {
		font-size: 15px;
	}

	/* navbar */

	nav ul {
		margin-bottom: 20px;
	}

	nav a {
		font-size: 15px;
	}

	/* hero */

	.hero img {
		max-height: 150px;
		margin: auto;
		margin-bottom: 10px;
	}

	.hero .div-img {
		display: flex;
		margin: 0 auto;
	}

	.hero .div-h1 {
		display: block;
		margin: 0 auto;
	}

	.hero h1 {
		text-align: center;
		font-size: 70px;
		line-height: 1.5;
	}

	.hero p {
		display: none;
	}

	/* break  */

	button {
		margin: 60px auto;
		padding: 3px 14px;
	}

	/* projects */

	.projects-section .content {
		margin-bottom: 20px !important;
	}

	.projects-section h4 {
		background: -webkit-linear-gradient(
			45deg,
			var(--gradient-start) 30%,
			var(--gradient-end) 100%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.projects-section .btn-branding {
		font-size: 15px;
		padding: 13px 22px;
	}

	/* about */

	.about-section .profile-image {
		width: 200px;
		height: 200px;
	}

	.about-section .icon {
		height: 35px;
	}

	.about-section .col-skills {
		margin-top: 10px !important;
	}

	/* contact */

	.contact-section .link {
		font-size: 15px;
		background: -webkit-linear-gradient(
			45deg,
			var(--gradient-start) 10%,
			var(--gradient-end) 100%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.contact-section .btn-branding {
		font-size: 15px;
		padding: 13px 22px;
	}

	/* footer */

	footer .social-links a {
		font-size: 18px;
	}
}
