/* root */

:root {
	--branding-color: rgb(245, 98, 224);
	--secondary-color: rgb(45, 108, 255);
	--body-color: rgba(245, 245, 245, 0.9);
	--heading-color: rgba(66, 66, 66);
	--text-color: rgba(97, 97, 97);

	/*  */
	--heading-font-family: "DM Sans", sans-serif;
	--deafault-font-family: "Jost", sans-serif;
	--option-font-family: "Sniglet", cursive;
	--selection-font-family: "Work Sans", sans-serif;
}

/* body */

body {
	background-color: #f6f8fa;
	/* font-family: "DM Sans", sans-serif; */
	margin: 0;
	padding: 0;
	/* margin: 35px 50px; */
	/* padding: 0*/
}

.container-fluid {
	margin: 0;
	padding: 0;
	/* width: 100%; */
	/* max-width: 785px; */
}

/* header */

header {
	margin: 0;
	padding: 0 0 0 0;
}

.header-image {
	background: linear-gradient(
		90deg,
		rgb(245, 98, 224) 0%,
		rgb(45, 108, 225) 100%
	);
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* navbar */

.navbar {
	/* background-color: lightgoldenrodyellow; */
	padding: 0px 0px;
	margin: 0px 0px;
}

nav ul {
	/* background-color: lightgreen; */
	padding: 0;
	margin: 50px auto;
	margin-top: 30px;
	display: flex;
	list-style: none;
	justify-content: center;
}

nav li {
	/* background-color: lightsalmon; */
	display: inline;
	margin: 0 15px;
	padding: 0;
	line-height: 1;
}

nav a {
	text-decoration: none;
	color: var(--body-color);
	font-family: var(--heading-font-family);
	font-size: 15px;
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	line-height: 1.5;
	letter-spacing: 1px;
	margin: 0px !important;
	padding: 0px !important;
}

nav img {
	display: block;
	max-height: 40px;
	margin: 5px auto;
	padding: 0;
}

/* hero */

.hero {
	/* text-align: center; */
	padding: 0;
	margin: 0;
}

.hero .row {
	/* background-color: lightskyblue; */
	margin: 0;
	padding: 0;
}

/* .hero .col {
	background-color: aquamarine;
	border-color: blue;
	border: 15px;
	margin: 0;
	padding: 0;
} */

.hero .div-img {
	text-align: end;
	/* background-color: lightgreen; */
	margin: 0 20px 50px 0;
	padding: 0;
}

.hero img {
	max-height: 220px;
	margin: 0;
	padding: 0;
}

.hero .div-h1 {
	text-align: left;
	/* background-color: lightcoral; */
	margin: 0 0 50px 20px;
	padding: 0;
}

.hero h1 {
	text-align: left;
	color: var(--body-color);
	font-family: var(--selection-font-family);
	font-size: 92px;
	font-weight: 600;
	line-height: 1;
	margin: 0px !important;
	padding: 0;
	letter-spacing: 0;
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;

	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
}

.hero p {
	color: var(--body-color);
	font-family: var(--selection-font-family);
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	margin: 0;
	padding: 0;
}

/* - break -  */
button {
	display: block;
	margin: 80px auto;
	padding: 4px 16px;
	border-radius: 3px;
	background: linear-gradient(
		90deg,
		rgb(245, 98, 224, 0.9) 20%,
		rgb(45, 108, 225, 0.9) 100%
	);
	border: none;
	pointer-events: none;
}

/* projects */

.projects-section h2 {
	text-align: center;
	color: var(--heading-color);
	font-family: var(--heading-font-family);
	font-size: 50px;
	line-height: 1;
	font-weight: 600;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	margin: 0px !important;
	padding: 0px !important;
}

.projects-section h3 {
	text-align: center;
	color: var(--heading-color);
	font-family: var(--heading-font-family);
	font-size: 25px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: -0.5px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin: 15px 0 50px 0 !important;
	padding: 0px !important;
}

.projects-section .row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	/* background-color: lightblue; */
	padding: 0;
	margin: 0;
}

.projects-section h4 {
	text-align: center;
	color: var(--heading-color);
	font-family: var(--heading-font-family);
	font-size: 25px;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: 0px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin: 10px 0 5px 0 !important;
	padding: 0px !important;
}

.projects-section h5 {
	text-align: center;
	font-family: var(--heading-font-family);
	color: var(--text-color);
	font-size: 17px;
	line-height: 1.6;
	font-weight: 300;
	letter-spacing: 0px;
	/* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05); */
	margin: 5px 0 15px !important;
	padding: 0px !important;
}

.projects-section img {
	max-height: 150px;
}

.projects-section .content {
	/* background-color: lightcoral; */
	text-align: center;
	margin: 0;
	padding: 0 50px;
}

.btn-branding {
	color: var(--body-color);
	font-family: var(--heading-font-family);
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	border-radius: 4px;
	letter-spacing: 0.5px;
	padding: 13px 20px;
	margin: 0;
	background: linear-gradient(
		90deg,
		rgb(245, 98, 224, 0.9) 20%,
		rgb(45, 108, 225, 0.9) 100%
	);
	border: none;
	border-radius: 30px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
	transition: all 180ms ease-in-out;
}

.btn-branding:hover {
	cursor: pointer;
	color: var(--body-color);
	box-shadow: 0px 0px 15px rgba(66, 66, 66, 0.2);
}

/* about */

.about-section img {
	display: block;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.about-section .row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
	margin: 0;
	/* background-color: lightblue; */
}

.about-section .col {
	/* background-color: lightblue; */
	padding: 0;
	margin: 0;
}

.about-section h2 {
	text-align: left;
	color: var(--heading-color);
	font-family: var(--heading-font-family);
	font-size: 50px;
	line-height: 1;
	font-weight: 600;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	margin: 0 0 10px 0 !important;
	padding: 0px !important;
}

.about-section h3 {
	text-align: left;
	color: var(--heading-color);
	font-family: var(--heading-font-family);
	font-size: 25px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: -0.5px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin: 15px 0 5px 0 !important;
	padding: 0px !important;
}

.about-section h5 {
	text-align: left;
	font-family: var(--heading-font-family);
	color: var(--text-color);
	font-size: 17px;
	line-height: 1.6;
	font-weight: 300;
	letter-spacing: 0px;
	/* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05); */
	margin: 0 !important;
	padding: 0px !important;
}

/* /// */
/* /// */

/* skills & tools */

.about-section h4 {
	text-align: left;
	color: var(--heading-color);
	font-family: var(--heading-font-family);
	font-size: 25px;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: 0px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin: 10px 0 !important;
	padding: 0px !important;
}

.row-skills .icon {
	text-align: center;
	height: 50px;
	width: auto;
}

.row-skills h5 {
	text-align: center;
	font-family: var(--heading-font-family);
	color: var(--text-color);
	font-size: 17px;
	line-height: 1.4;
	font-weight: 300;
	letter-spacing: 0px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
	margin: 7px 0 0 0 !important;
	padding: 0px !important;
}

.row-skills {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
	margin: 0;
}

.col-skills {
	/* background-color: lightcoral; */
	padding: 0 0;
	margin: 7px 0;
}

/* /// */
/* /// */
/* /// */
/* /// */
/* /// */

/* contact */

.contact-section h2 {
	text-align: center;
	color: var(--heading-color);
	font-family: var(--heading-font-family);
	font-size: 50px;
	line-height: 1;
	font-weight: 600;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	margin: 0px !important;
	padding: 0px !important;
}

.contact-section h3 {
	text-align: center;
	color: var(--heading-color);
	font-family: var(--heading-font-family);
	font-size: 25px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: -0.5px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin: 15px 0 20px 0 !important;
	padding: 0px !important;
}

.contact-section h5 {
	text-align: center;
	font-family: var(--heading-font-family);
	color: var(--text-color);
	font-size: 17px;
	line-height: 2;
	font-weight: 300;
	letter-spacing: 0px;
	/* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05); */
	margin: 0 !important;
	padding: 0px !important;
}

.contact-section .link {
	text-align: center;
	font-family: var(--heading-font-family);
	background: -webkit-linear-gradient(
		290deg,
		rgb(245, 98, 224),
		rgb(45, 108, 255)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 19px;
	line-height: 2;
	font-weight: 500;
	letter-spacing: 0px;
	/* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05); */
	margin: 0 !important;
	padding: 0px !important;
}

.contact-section .btn-branding {
	color: var(--body-color);
	font-family: var(--heading-font-family);
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	border-radius: 4px;
	letter-spacing: 0.5px;
	padding: 13px 20px;
	margin: 20px 0 90px 0;
	background: linear-gradient(
		90deg,
		rgb(245, 98, 224, 0.9) 20%,
		rgb(45, 108, 225, 0.9) 100%
	);
	border: none;
	border-radius: 30px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
	transition: all 180ms ease-in-out;
}

/* footer */

footer .social-links a {
	color: var(--branding-color);
	font-size: 20px;
	transition: all 200ms ease-in;
	padding: 10px 15px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin: 10px 0 10px 0 !important;
}

footer .social-links a:hover {
	color: var(--secondary-color);
	text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.1);
}

footer p {
	text-align: center;
	font-family: var(--heading-font-family);
	color: rgba(245, 245, 245, 0.8);
	font-size: 10px;
	line-height: 1;
	font-weight: 400;
	margin: 0 !important;
	padding: 0px !important;
}

footer .github {
	text-align: center;
	font-family: var(--heading-font-family);
	color: rgba(245, 245, 245, 0.8);
	font-size: 10px;
	line-height: 1;
	font-weight: 400;
	text-decoration: none;
	margin: 0px 0 !important;
	padding: 0px !important;
}

/* media */

/* @media (max-width: 992px) {} */
